{% extends 'base.html' %}

{% block head %}

<title>Home Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}

<h1> Hello Users</h1>
<h3> Welcome to our nutrition chatbot. You can now use this bot to know the nutrition information for any food you consume.</h3>
<div class="content">
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger intent="WELCOME"
     chat-title="NutritionBot"
     agent-id="690ea8e6-88a1-4244-a3d6-7a8a9240ff93"
     language-code="en"
    ></df-messenger>
</div>
{% endblock %}